language: go
go:
- 1.16.x
env:
  global:
  - GO111MODULE=on
cache:
  directories:
  - $GOPATH/pkg/mod
  - $HOME/.cache/go-build
script:
- make
deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | bash
  on:
    tags: true
    condition: "$TRAVIS_OS_NAME = linux"
